<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Web Interactiva de Trivia</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/img/logo_bmc_gw.png" alt="Logo">
        </div>
        <div class="title">
            <h2>Aplicación Web Interactiva de Trivia</h2>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle">
                <svg viewBox="0 0 24 24" fill="currentColor" class="menu-icon">
                    <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
                </svg>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="showScore()">Marcador</a></li>
                <li><a href="#" id="questionsButton">Administrar preguntas</a></li>
                <% if (isAdmin) { %>
                    <li><a href="#" id="usersButton">Administrar usuarios</a></li>
                <% } %>
                <li><a href="#" id="logoutButton">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
    <div id="container" class="container">
        <div id="main" class="grid"></div>
        <div id="questionPage" class="question-page" style="display:none;">
            <img id="questionImage" src="" alt="Imagen de la pregunta" style="display:none;">
            <div id="questionText"></div>
            <div id="timer">Tiempo restante: <span id="timeLeft">60</span> segundos</div>
            <div id="options">
                <button id="showAnswer">Ver Respuesta</button>
                <button onclick="goBack()">Volver</button>
                <div id="answerOptions">
                    <button id="correctAnswer">
                        <i class="fas fa-check" style="color: green;"></i> Respuesta correcta
                    </button>
                    <button id="wrongAnswer">
                        <i class="fas fa-times" style="color: red;"></i> Respuesta incorrecta
                    </button>
                </div>
            </div>
            <div id="answerText" style="display:none;"></div>
            <audio id="timeUpSound" src="/sounds/bleep-03.mp3" preload="auto"></audio>
        </div>
        <div id="scorePage" class="score-page" style="display:none;">
            <section class="table-container" id="scoreTable">
                <h3>Tabla de posiciones</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Equipo Amarillo</th>
                            <th>Equipo Rojo</th>
                            <th>Equipo Azul</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <div id="scoreOptions">
                    <button onclick="goBack()">Volver</button>
                </div>
            </section>
        </div>
    </div>
    <div class="footer">
        <p>Brigada Médica Cubana en Guinea Bissau</p>
        <p>Facultad de Medicina Cubano-Guineense “Raúl Díaz Argüelles García”</p>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>